<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
	<appenders>
		<File name="File" fileName="def.log" bufferSize="128">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%t] %L - %msg%n</Pattern>
			</PatternLayout>
		</File>
		<Console name="stdout" target="STDOUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} [%t] %L - %msg%n" />
		</Console>

		<!-- 文件保留策略 -->
		<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs/def.log" filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true" />
				<SizeBasedTriggeringPolicy size="30 KB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="logs/" maxDepth="2" testMode="true">
					<!-- 文件名称规则 -->
					<IfFileName glob="*/app-*.log.gz" />
					<!-- 文件最后修改时间间隔 -->
					<IfLastModified age="PT20S">
						<!-- IfAny也可与IfLastModified为兄弟节点 -->
						<IfAny>
							<!-- 累计的文件大小 -->
							<IfAccumulatedFileSize exceeds="100 GB" />
							<!-- 累计的文件数量 -->
							<IfAccumulatedFileCount exceeds="10" />
						</IfAny>
					</IfLastModified>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
	</appenders>

	<loggers>
		<Logger name="com.sirding.jvm.Demo4Log4j2" level="trace" additivity="false">
			<AppenderRef ref="RollingRandomAccessFile" />
			<AppenderRef ref="stdout" />
		</Logger>
		<root level="trace">
			<appender-ref ref="stdout" />
		</root>
	</loggers>
</configuration> 