<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:task="http://www.springframework.org/schema/task"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/cache   
	http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task.xsd
">

	<!-- 配置1： 自动扫描controller包下的所有类，使其认为spring mvc的控制器 
	<context:component-scan base-package="com.surpass" resource-pattern="com.surpass..controller.*Controller" />
	-->
	<context:component-scan base-package="com.sirding" >
	    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
	  	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
	  	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository" />
  	</context:component-scan>
  	
  	<!-- 如下两个属性最初配置在spring-security.xml文件中，由于interceptor依赖annotation-driven配置，故移动至此 -->
  	<mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    
	<!-- 静态资源映射  不配置mvc:annotation只配置mvc:resources将导致SpringMVC无法拦截请求-->
    <mvc:resources mapping="/index.jsp" location="/index.jsp"/>
    <mvc:resources mapping="/static/**" location="/static/"/>
    <!-- 配置解析webjars资源 -->
    <mvc:resources mapping="/webjars/**" location="/webjars/">
    	<mvc:resource-chain resource-cache="false" auto-registration="false">
    		<mvc:resolvers>
    			<bean class="org.springframework.web.servlet.resource.WebJarsResourceResolver"></bean>
    			<bean class="org.springframework.web.servlet.resource.PathResourceResolver"></bean>
    		</mvc:resolvers>
    	</mvc:resource-chain>
    </mvc:resources>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<description>启动Spring MVC的注解功能，完成请求和注解POJO的映射</description>
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<description>避免IE执行AJAX时,返回JSON出现下载文件</description>
					<property name="supportedMediaTypes">    
				        <list>    
				            <value>text/html;charset=UTF-8</value>    
				        </list>    
				    </property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- ===================华丽分割线======================================== -->
	<!-- SpringMVC支持多视图配置  通过order属性决策优先级决定视图解析器的由优先级 -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<description>freemarker视图配置</description>
		<!-- 指定FreeMarker模板文件目录，与freeMarkerViewResolver中prefix有追加效果 -->
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<!-- 编码设置 -->
		<property name="freemarkerSettings">
			<props>
				<prop key="defaultEncoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	<bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"></property>
		<description>初始化ftl视图解析器</description>
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" />
		<property name="contentType" value="text/html; charset=UTF-8" />
		<property name="order" value="0" />
	</bean>

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<description>初始化jsp视图解析器 </description>
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="5"></property>
	</bean>
	
	<!-- ===================华丽分割线======================================== -->
	<!-- 配置Spring自带文件上传操作类 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
	
	
	<!-- 导出pdf操作依赖类 
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="10"></property>
	</bean>
	-->
	
	<!-- 拦截器 -->
	<!-- <mvc:annotation-driven/> -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/login.jsp"/>
			<mvc:exclude-mapping path="/nosession.jsp"/>
			<mvc:exclude-mapping path="/adminLogin"/>
			<mvc:exclude-mapping path="/regist.jsp"/>
			<bean class="com.sirding.core.interceptors.SessionInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
